/* main.css */
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Serif JP', sans-serif;

	--bg-color: #ffffff;
	--font-color:#000000;
	--sub-color:#007C45;
	--sub-sub-color:#003087;
}
p{
	padding : 0px ;
	margin: 0px;
}

li{
	list-style: none;
}
#top{
	display: block;	
	padding : 20px ;
	margin: 30px;
	color:white;
	background: var(--sub-color);
	text-align: center;
}
#top p{
	padding : 0px ;
	margin: 0px;
	font-size: 25px;
}
#top .small{
	display: none;
}

#container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
	display: flex;
}

.container{

	margin-bottom: 40px;
}
#send_result {
    display: block;
    margin-left: auto;
    margin-right: auto ;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
#send_result:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
#send_result:active {
	position:relative;
	top:1px;
}

        
#main{
	padding: 10px;
	width: 900px;
	margin-right: 30px;

	margin-left: 30px;
	box-shadow: 0px 0px 5px #666666;

	background-color: var(--bg-color);

}
#main p{

	max-width: 980px;
	padding: 0px;
	margin:0px; 
}
#main h1{
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 32px;

	color: var(--sub-color);
}

.img_filter{
    filter: opacity(50%);
    cursor: pointer;
}
.main_margin{
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.indent{
	padding-left: 1em;
}
#image{
    padding-bottom: 5px;
}
#lnd{
    width: 300px;                /* 横幅を200pxに指定 */
    height: 500px;               /* 横幅を200pxに指定 */
    /*border: 1px solid #000;       わかりやすくボーダーを引く */
    overflow-y: scroll;   
    padding: 10px;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */

    filter:linear-gradient(to right, #2af598 0%, #009efd 100%);
}
#lnd:after {/*グラデーションを作成して画像の上に配置*/
    background-image: linear-gradient(0deg, #1199c4, #B10DC9);
    
  }
#lnd::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}


#lthan30{    
    width: 300px;                /* 横幅を200pxに指定 */
    height: 500px;               /* 横幅を200pxに指定 */
    /*border: 1px solid #000;      /* わかりやすくボーダーを引く */
    overflow-y: scroll;   
    padding: 10px;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
#lthan30::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

#sthan30{    
    width: 300px;                /* 横幅を200pxに指定 */
    height: 500px;               /* 横幅を200pxに指定 */
    /*border: 1px solid #000;      /* わかりやすくボーダーを引く */
    overflow-y: scroll;   
    padding: 10px;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
#sthan30::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}
#res_img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 1000px;                /* 横幅を200pxに指定 */
    height: 300px;               /* 横幅を200pxに指定 */
    /*border: 1px solid #000;       わかりやすくボーダーを引く */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow-x: scroll; 
    padding: 10px;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
#res_img::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}
#arrow{
    display: inline-block; /* インライン要素にすることで横に回り込む */
    vertical-align: middle; /* 上下中央に寄せる */ 
    margin: auto;
}
#bottom{
	padding : 30px ;
	margin-top: 30px;
	color:white;
	background: var(--sub-color);
	text-align: center;
}